In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./athlete_events.csv')

In [3]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
Olympic_data = data.drop(columns=['Name', 'Age', "Height", "Weight", "Games", "Season", "City", "Sport", "Event", "ID", "NOC"])

In [5]:
Olympic_data = Olympic_data.dropna()
Olympic_data.reset_index(drop=True)

      Sex            Team  Year   Medal
0       M  Denmark/Sweden  1900    Gold
1       M         Finland  1920  Bronze
2       M         Finland  1920  Bronze
3       M         Finland  2014  Bronze
4       M         Finland  1948  Bronze
...    ..             ...   ...     ...
39778   F    Soviet Union  1956  Silver
39779   F    Soviet Union  1964  Bronze
39780   M          Poland  1980  Bronze
39781   F          Russia  2000  Bronze
39782   F          Russia  2004  Silver

[39783 rows x 4 columns]

In [27]:
# It looks like some of the teams aren't countries, so this is another difficulty to contend with
Olympic_data.groupby("Team").count().head(15)

                              Sex  Year  Medal
Team
A North American Team           4     4      4
Afghanistan                     2     2      2
Algeria                        17    17     17
Ali-Baba II                     5     5      5
Amateur Athletic Association    5     5      5
Amstel Amsterdam                4     4      4
Ancora                          4     4      4
Angelita                       12    12     12
Antwerpia V                     5     5      5
Aphrodite                       3     3      3
Argentina                     266   266    266
Argonaut Rowing Club            6     6      6
Armenia                        16    16     16
Aschenbrodel                    8     8      8
Atalanta Boat Club-1            2     2      2

In [29]:
# Total team names is more than total countries in country GDP dataset, where 176 countries are represented
number_of_teams = Olympic_data["Team"].nunique()
number_of_teams

498